Imports

In [1]:
import csv
import pandas as pd

Get file names

Read csv

In [6]:
df = pd.read_csv('~/strides/data/fit2csv/921B4648.csv')
#df

filter for local number == 7 and type == Date

In [10]:
df_filtered = df.loc[df['Local Number'] == 7]
df_filtered = df_filtered.loc[df_filtered['Type'] == 'Data']
df_filtered

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 21,Value 21,Units 21,Field 22,Value 22,Units 22,Field 23,Value 23,Units 23,Unnamed: 72
19,Data,7,record,timestamp,917952408,s,position_lat,574327777.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Data,7,record,timestamp,917952409,s,position_lat,574328278.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Data,7,record,timestamp,917952410,s,position_lat,574328714.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Data,7,record,timestamp,917952411,s,position_lat,574328620.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Data,7,record,timestamp,917952412,s,position_lat,574328988.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Data,7,record,timestamp,917952413,s,position_lat,574328564.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Data,7,record,timestamp,917952414,s,position_lat,574328868.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Data,7,record,timestamp,917952415,s,position_lat,574328893.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Data,7,record,timestamp,917952416,s,position_lat,574329098.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Data,7,record,timestamp,917952417,s,position_lat,574329234.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Data,7,record,timestamp,917952418,s,position_lat,574329609.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Data,7,record,timestamp,917952419,s,position_lat,574329829.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Data,7,record,timestamp,917952420,s,position_lat,574329952.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Data,7,record,timestamp,917952421,s,position_lat,574330027.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Data,7,record,timestamp,917952422,s,position_lat,574330168.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Data,7,record,timestamp,917952423,s,position_lat,574330413.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Data,7,record,timestamp,917952424,s,position_lat,574330610.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Data,7,record,timestamp,917952425,s,position_lat,574330921.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Data,7,record,timestamp,917952426,s,position_lat,574331473.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Data,7,record,timestamp,917952427,s,position_lat,574331804.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Data,7,record,timestamp,917952428,s,position_lat,574332269.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Data,7,record,timestamp,917952429,s,position_lat,574332658.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Data,7,record,timestamp,917952430,s,position_lat,574333002.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Data,7,record,timestamp,917952431,s,position_lat,574333346.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Data,7,record,timestamp,917952432,s,position_lat,574333638.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Data,7,record,timestamp,917952433,s,position_lat,574333841.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Data,7,record,timestamp,917952434,s,position_lat,574334058.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Data,7,record,timestamp,917952435,s,position_lat,574334241.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Data,7,record,timestamp,917952436,s,position_lat,574334423.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data,7,record,timestamp,917952437,s,position_lat,574334734.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2783,Data,7,record,timestamp,917955150,s,position_lat,574331884.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2784,Data,7,record,timestamp,917955151,s,position_lat,574331548.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2785,Data,7,record,timestamp,917955152,s,position_lat,574331229.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2786,Data,7,record,timestamp,917955153,s,position_lat,574330811.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2787,Data,7,record,timestamp,917955154,s,position_lat,574330355.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2788,Data,7,record,timestamp,917955155,s,position_lat,574329920.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2789,Data,7,record,timestamp,917955156,s,position_lat,574329541.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2790,Data,7,record,timestamp,917955157,s,position_lat,574329293.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2791,Data,7,record,timestamp,917955158,s,position_lat,574328971.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2792,Data,7,record,timestamp,917955159,s,position_lat,574328665.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2793,Data,7,record,timestamp,917955160,s,position_lat,574328337.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2794,Data,7,record,timestamp,917955161,s,position_lat,574327992.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2795,Data,7,record,timestamp,917955162,s,position_lat,574327651.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2796,Data,7,record,timestamp,917955163,s,position_lat,574327268.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2797,Data,7,record,timestamp,917955164,s,position_lat,574326887.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798,Data,7,record,timestamp,917955165,s,position_lat,574326586.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799,Data,7,record,timestamp,917955166,s,position_lat,574326368.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2800,Data,7,record,timestamp,917955167,s,position_lat,574326045.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2801,Data,7,record,timestamp,917955168,s,position_lat,574325602.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2802,Data,7,record,timestamp,917955169,s,position_lat,574325177.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2803,Data,7,record,timestamp,917955170,s,position_lat,574324768.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804,Data,7,record,timestamp,917955171,s,position_lat,574324479.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2805,Data,7,record,timestamp,917955172,s,position_lat,574324201.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2806,Data,7,record,timestamp,917955173,s,position_lat,574323969.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2807,Data,7,record,timestamp,917955174,s,position_lat,574323813.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2808,Data,7,record,timestamp,917955175,s,position_lat,574323597.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2809,Data,7,record,timestamp,917955176,s,position_lat,574323369.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2810,Data,7,record,timestamp,917955177,s,position_lat,574323187.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2811,Data,7,record,timestamp,917955178,s,position_lat,574322933.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2812,Data,7,record,timestamp,917955179,s,position_lat,574322695.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
filename = 'data/fit2csv/921B4648.csv'

with open('filename', newline='/n') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in spamreader:
        print(', '.join(row))