Imports

In [113]:
import csv
import pandas as pd
from datetime import datetime
from datetime import timedelta

Get file names

Read csv

In [114]:
df = pd.read_csv('~/strides/data/fit2csv/921B4648.csv')
#df

filter for local number == 7 and type == Date

In [115]:
df_filtered = df.loc[df['Local Number'] == 7]
df_filtered = df_filtered.loc[df_filtered['Type'] == 'Data']
df_filtered.head()

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 21,Value 21,Units 21,Field 22,Value 22,Units 22,Field 23,Value 23,Units 23,Unnamed: 72
19,Data,7,record,timestamp,917952408,s,position_lat,574327777.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Data,7,record,timestamp,917952409,s,position_lat,574328278.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Data,7,record,timestamp,917952410,s,position_lat,574328714.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Data,7,record,timestamp,917952411,s,position_lat,574328620.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Data,7,record,timestamp,917952412,s,position_lat,574328988.0,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 convert position and time

In [116]:
def secondsToUTC (dataset):
    #1989-12-31 00:00:00
    zero = datetime(1989,12,31,0,0,0)
    #print (datetime.strftime(zero,"%b %d %Y %H:%M:%S"))
    new_dataset = []
    for d in dataset:
        n = str(zero + timedelta(seconds=d))
        new_dataset.append(n)
    return new_dataset

In [117]:
df_filtered['Value 2'] = df_filtered['Value 2']* 180/(2^31)
df_filtered['Units 2'] = "degrees"

df_filtered['Value 3'] = df_filtered['Value 3']* 180/(2^31)
df_filtered['Units 3'] = "degrees"

df_filtered['Value 1'] = secondsToUTC(df_filtered['Value 1'])
df_filtered['Units 1'] = "UTC"

In [118]:
df_filtered.head()

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 21,Value 21,Units 21,Field 22,Value 22,Units 22,Field 23,Value 23,Units 23,Unnamed: 72
19,Data,7,record,timestamp,2019-02-01 10:46:48,UTC,position_lat,3.564793e+09,degrees,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Data,7,record,timestamp,2019-02-01 10:46:49,UTC,position_lat,3.564796e+09,degrees,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Data,7,record,timestamp,2019-02-01 10:46:50,UTC,position_lat,3.564799e+09,degrees,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Data,7,record,timestamp,2019-02-01 10:46:51,UTC,position_lat,3.564798e+09,degrees,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Data,7,record,timestamp,2019-02-01 10:46:52,UTC,position_lat,3.564801e+09,degrees,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN