Imports

In [28]:
import csv
import pandas as pd
from datetime import datetime
from datetime import timedelta

Get file names

Read csv

In [29]:
df = pd.read_csv('~/strides/data/fit2csv/921B4648.csv')
#df

filter for local number == 7 and type == Date

In [30]:
df_filtered = df.loc[df['Local Number'] == 7]
df_filtered = df_filtered.loc[df_filtered['Type'] == 'Data']

 convert position and time

In [31]:
def secondsToUTC (dataset):
    #1989-12-31 00:00:00
    zero = datetime(1989,12,31,0,0,0)
    #print (datetime.strftime(zero,"%b %d %Y %H:%M:%S"))
    new_dataset = []
    for d in dataset:
        n = str(zero + timedelta(seconds=d))
        new_dataset.append(n)
    return new_dataset

In [32]:
df_filtered['Value 2'] = df_filtered['Value 2']* 180/(2^31)
df_filtered['Units 2'] = "degrees"

df_filtered['Value 3'] = df_filtered['Value 3']* 180/(2^31)
df_filtered['Units 3'] = "degrees"

df_filtered['Value 1'] = secondsToUTC(df_filtered['Value 1'])
df_filtered['Units 1'] = "UTC"

In [33]:
toBeDropped = []
counter = 10
field_str = 'Field '
value_str = 'Value '
units_str = 'Units '

while counter < 24:
    toBeDropped.append(field_str+str(counter))
    toBeDropped.append(value_str+str(counter))
    toBeDropped.append(units_str+str(counter))
    counter = counter + 1

toBeDropped.append("Type")
toBeDropped.append("Local Number")
toBeDropped.append("Message")
toBeDropped.append("Unnamed: 72")

In [34]:
df_filtered = df_filtered.drop(columns=toBeDropped)
df_filtered.head()

,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,Value 3,Units 3,Field 4,...,Units 6,Field 7,Value 7,Units 7,Field 8,Value 8,Units 8,Field 9,Value 9,Units 9
19,timestamp,2019-02-01 10:46:48,UTC,position_lat,3.564793e+09,degrees,position_long,8.581907e+08,degrees,distance,...,NaN,heart_rate,90.0,bpm,cadence,79.0,rpm,enhanced_speed,2.682,m/s
20,timestamp,2019-02-01 10:46:49,UTC,position_lat,3.564796e+09,degrees,position_long,8.581870e+08,degrees,distance,...,NaN,heart_rate,92.0,bpm,cadence,79.0,rpm,enhanced_speed,3.348,m/s
23,timestamp,2019-02-01 10:46:50,UTC,position_lat,3.564799e+09,degrees,position_long,8.581889e+08,degrees,distance,...,NaN,heart_rate,95.0,bpm,cadence,0.0,rpm,enhanced_speed,3.583,m/s
24,timestamp,2019-02-01 10:46:51,UTC,position_lat,3.564798e+09,degrees,position_long,8.581911e+08,degrees,distance,...,NaN,heart_rate,97.0,bpm,cadence,0.0,rpm,enhanced_speed,3.337,m/s
25,timestamp,2019-02-01 10:46:52,UTC,position_lat,3.564801e+09,degrees,position_long,8.581938e+08,degrees,distance,...,NaN,heart_rate,100.0,bpm,cadence,0.0,rpm,enhanced_speed,3.542,m/s