In [5]:
import os
import gmaps
import gmaps.datasets
import xml.etree.ElementTree as ET
import csv
import pandas as pd

Get API key

In [2]:
gmaps.configure(api_key=os.environ["GOOGLE_API_KEY"])

In [3]:
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [19]:
filepath = '~/strides/data/fit2csv/'
file = '921B4648'
filetype = '.csv'
df = pd.read_csv(filepath+file+'_prepared'+filetype)

In [20]:
df.head()

,Unnamed: 0,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,Value 3,Units 3,...,Units 6,Field 7,Value 7,Units 7,Field 8,Value 8,Units 8,Field 9,Value 9,Units 9
0,19,timestamp,2019-02-01 10:46:48,UTC,position_lat,48.139598,degrees,position_long,11.589160,degrees,...,NaN,heart_rate,90.0,bpm,cadence,79.0,rpm,enhanced_speed,2.682,m/s
1,20,timestamp,2019-02-01 10:46:49,UTC,position_lat,48.139640,degrees,position_long,11.589109,degrees,...,NaN,heart_rate,92.0,bpm,cadence,79.0,rpm,enhanced_speed,3.348,m/s
2,23,timestamp,2019-02-01 10:46:50,UTC,position_lat,48.139677,degrees,position_long,11.589135,degrees,...,NaN,heart_rate,95.0,bpm,cadence,0.0,rpm,enhanced_speed,3.583,m/s
3,24,timestamp,2019-02-01 10:46:51,UTC,position_lat,48.139669,degrees,position_long,11.589165,degrees,...,NaN,heart_rate,97.0,bpm,cadence,0.0,rpm,enhanced_speed,3.337,m/s
4,25,timestamp,2019-02-01 10:46:52,UTC,position_lat,48.139700,degrees,position_long,11.589201,degrees,...,NaN,heart_rate,100.0,bpm,cadence,0.0,rpm,enhanced_speed,3.542,m/s

In [21]:
locations = df[['Value 2', 'Value 3']]
#locations = df[['latitude', 'longitude']]
#weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))#, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# generate some (latitude, longitude) pairs
locations = [(51.5, 0.1), (51.7, 0.2), (51.4, -0.2), (51.49, 0.1)]
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))